{% extends "base.html" %} {% load static %} {% block title %}Sokalp -
Login{%endblock title %} {% block styles %}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'home/login.css' %}" />
{% endblock %} {% block content %}
<nav>
  <div class="nav-div">
    <img src="{% static 'home/sokalp.png' %}" alt="" />
  </div>
</nav>
<div class="parent">
  <form method="post" class="login-main">
    {% csrf_token %}
    <h1>Sign up</h1>

    <div class="inp inp-1">
      <label for="username">Enter your username</label>
      <input type="text" name="username" id="username" />
    </div>

    <div class="inp inp-2">
        <label for="email">Enter e-mail</label>
        <input type="email" name="email" id="email" />
    </div>

    <div class="inp inp-2">
      <label for="password">Enter password</label>
      <input type="password" name="password" id="password" />
    </div>

    <div class="inp inp-2">
        <label for="restaurant_name">Enter restaurant name</label>
        <input type="text" name="restaurant_name" id="restaurant_name" />
    </div>

    <div class="inp inp-2">
        <label for="restaurant_area">Enter restaurant area</label>
        <input type="text" name="restaurant_area" id="restaurant_area" />
    </div>

    <div class="inp inp-2">
        <label for="image_link">Enter image link</label>
        <input type="text" name="image_link" id="image_link" />
    </div>

    <div class="margin-down">
      {% if error %}
      <p class="error">Correct errors and try again.</p>
      {% endif %}
    </div>
    <button class="btn btn-sign-in" type="submit">Sign un</button>
    <hr />
    <button class="btn btn-sign-up" disabled>Sign in</button>
  </form>
</div>
{% endblock content %}
